@charset "utf-8";

html {
    /*ROOT要素に文字サイズを約10pxに設定*/
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img {
    vertical-align: middle;
}

body {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
}

main {
    background-color: #D7E4E5;
}

section {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-size: 3.6rem;
}

h2 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 3.2rem;
}

h3 {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
    text-align: center;
    color: #0463DF;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.sp-only {
    display: none;
}

@media screen and (max-width:640px) and (min-width:441px) {
    section {
        width: 100%;
    }
}

@media screen and (max-width:440px) {
    section {
        width: 300px;
    }
}

@media screen and (max-width:440px) {
    .sp-only {
        display: block;
    }
}

/* menu */
.menu {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #277277;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

@media screen and (max-width:660px) {
    h2 {
        width: auto;
        margin-left: 0;
        padding-left: 5%;
    }
}


/* more-button */
.more-button {
    position: absolute;
    bottom: 0;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    border: 1px #373737 solid;

    font-size: 1.6rem;
    color: #474747;

    transition: all .2s;
}

.more-button:hover {
    background-color: #6C98D1;
    color: #fff;
}

@media screen and (max-width:660px) and (min-width:441px) {
    .more-button {
        right: 7.5%;
        width: 30%;
    }
}

@media screen and (max-width:440px) {
    .more-button {
        bottom: -70px;
        width: 180px;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
}


/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #3E3E3E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}

h1 {
    color: #fff;
    margin-left: 60px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav ul li {
    margin-left: 20%;
}

header nav ul li a {
    font-size: 1.4rem;
    color: #fff;
}

.switch {
    display: none;
}

@media screen and (max-width:660px) and (min-width:441px) {
    h1 {
        font-size: 2.4rem;
        margin-left: 5%;
    }

    header nav ul li {
        margin-left: 10%;
    }

    header nav ul li a {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:440px) {
    header {
        width: 100vw;
    }

    h1 {
        font-size: 2.4rem;
        margin-left: 5%;
    }

    .switch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 60px;

        position: absolute;
        right: 0;
        top: 0;
        padding-right: 45px;
        padding-left: 15px;
        z-index: 9999;
    }

    .switch span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #FFF;
        margin-top: 3.5px;
        margin-bottom: 3.5px;
        transition: all .3s;
    }

    .switch.active span:nth-of-type(1) {
        transform: translateY(9px) rotate(-45deg);
    }

    .switch.active span:nth-of-type(2) {
        opacity: 0;
    }

    .switch.active span:nth-of-type(3) {
        transform: translateY(-9px) rotate(45deg);
    }

    header nav {
        position: absolute;
        right: 0;
        top: 0;
        width: 50vw;
        height: auto;
        background-color: #3E3E3E;
        display: none;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 90px;
        padding-bottom: 30px;
    }

    header nav ul li {
        margin-left: 10%;
        padding-top: 10%;
        margin-bottom: 10%;
    }

    header nav ul li a {
        font-size: 1.6rem;
        color: #fff;
        position: relative;
    }

    header nav ul li a::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 40vw;
        height: 1px;
        background-color: #fff;
    }

}

/* main top-work */
.top-work {
    padding-bottom: 240px;
}

.top-work-outer {
    padding-top: 120px;
}

.top-work-outer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.top-work-inner {
    position: relative;
    width: 100%;
    height: auto;
}

.top-work-inner p {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 1.6rem;
    color: #373737;
}

.top-work-inner p::before {
    content: "■";
}

@media screen and (max-width:660px) {
    .top-work-inner p {
        margin-left: 7.5%;
        font-size: 1.4rem;
    }
}

/* main top-about */
.top-about {
    padding-bottom: 240px;
    padding-top: 80px;
}

.top-about-outer {
    position: relative;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.top-about-outer img {
    width: 200px;
    height: 245px;
    object-fit: cover;
    margin-left: 30px;
}

.top-about-inner {
    margin-left: 30px;
    margin-top: 30px;
}

.top-about-inner p {
    font-size: 1.6rem;
    color: #373737;
    margin-top: 5px;
}

.top-about-inner p:nth-last-of-type(2) {
    margin-top: 0px;
}

.top-about-inner p:nth-of-type(3) {
    font-size: 1.4rem;
}

.name {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.name p {
    font-size: 1.6rem;
}

.name p:first-of-type {
    font-size: 2.0rem;
}

@media screen and (max-width:660px) {

    .top-about .more-button {
        bottom: -60px;
    }

}

@media screen and (max-width:440px) {
    .top-about-outer img {
        width: 30%;
        height: auto;
    }

    .top-about-inner {
        margin-top: 0;
    }
}

/* footer */
footer {
    width: 100%;
    height: 150px;
    background-color: #277277;
}

footer a {
    font-family: "Audiowide", sans-serif;
    font-size: 2.6rem;
    color: #fff;
    display: block;
    text-align: center;
    padding-top: 40px;
}


/* aboutpage */
.about-page p,
.about-page li {
    font-size: 1.6rem;
    font-weight: 400;
}

.about-page h3 {
    text-align: start;
    margin-left: 20px;
}

@media screen and (max-width:440px) {

    .about-page p,
    .about-page li {
        font-size: 1.4rem;
    }

    .about-page h3 {
        text-align: start;
        margin-left: 10px;
    }

}

/* profile */
.profile {
    padding-top: 80px;
}

.profile p {
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.profile p:nth-last-of-type(4) {
    margin-top: 0;
}

p.comment {
    display: block;
    width: 93.75%;
    height: auto;
    text-align: center;
    background-color: #C2D3F8;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

@media screen and (max-width:440px) {
    .profile {
        padding-top: 40px;
    }

    .profile p {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .profile p:nth-last-of-type(4) {
        margin-top: 0;
    }

    .pc-only {
        display: none;
    }

    p.comment {
        display: block;
        font-size: 1.3rem;
        width: 98%;
        line-height: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-left: 1%;
    }

    .profile .name p {
        margin-top: 0;
    }
}

/* message */
.message {
    padding-top: 120px;
}

.message p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93.75%;
    height: auto;
    line-height: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width:440px) {
    .message {
        padding-top: 60px;
    }

    .message p {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;

    }
}

/* skill */
.skill {
    padding-top: 120px;
    padding-bottom: 30px;
}

.skill-outer {
    position: relative;
    margin-left: 20px;
    margin-bottom: 30px;
}

.skill-outer p {
    padding-bottom: 5px;
}

p.skill-ex {
    font-size: 1.4rem;
}

.skill-inner {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.skill-inner li {
    margin-right: 40px;
    padding-bottom: 5px;
}

.skill-outer::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 93.75%;
    height: 1px;
    background-color: #ADADAD;
}

@media screen and (max-width:440px) {
    .skill {
        padding-top: 60px;
    }

    .skill-outer {
        margin-left: 10px;
        margin-bottom: 15px;
    }

    p.skill-ex {
        font-size: 1.1rem;
    }

    .skill-inner {
        flex-wrap: wrap;
    }

    .skill-inner li {
        margin-right: 20px;
    }
}

/* certification */
.certification {
    padding-top: 90px;
    padding-bottom: 120px;
}

.certification ul {
    margin-left: 20px;
    list-style: none;
}

.certification ul li {
    margin-bottom: 10px;
}

.certification ul li::before {
    content: "■";
    margin-right: 5px;
}

@media screen and (max-width:440px) {
    .certification {
        padding-top: 30px;
    }

    .certification ul {
        margin-left: 10px;
    }

    .certification ul li {
        margin-bottom: 10px;
    }
}

/* work1-page */
.work1-page section,
.work2-page section,
.work3-page section {
    padding-bottom: 240px;
    font-weight: 400;

    .top-work-outer {
        padding-top: 80px;
    }

    ul {
        list-style: none;
        display: flex;
    }

    a {
        font-size: 1.8rem;
        color: blue;
        margin-left: 50px;
        margin-top: 5px;
        text-decoration: underline;
    }

    a:hover {
        color: rebeccapurple;
    }

    p,
    li {
        font-size: 1.6rem;
        margin-left: 50px;
        margin-top: 5px;
        color: #373737;
    }

    .top-work-inner {
        margin-top: 20px;
        margin-left: 50px;
        font-size: 1.6rem;
        color: #373737;
    }

    .top-work-inner::before {
        content: "■";
    }

    .logo-img {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .logo-img img {
        width: 40%;
        height: auto;
        margin-right: 20px;
        margin-left: 20px;
        border: 1px #999999 solid;
    }

    .work-page-design img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px #999999 solid;
    }

    .design-img {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .design-img img {
        width: 40%;
        margin-right: 20px;
    }

    .banner-img {
        width: 50%;
        margin-left: 20px;
    }

    .banner-img img {
        width: 100%;
    }

    .work-page-banner img {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5%;
        border: 1px #999999 solid;
    }
}

.work3-page .design-img img:first-of-type {
    width: 60%;
}

.work3-page .design-img img:last-of-type {
    width: 30%;
}

.work3-page .work-page-logo img {
    width: 80%;
    height: 200px;
    object-fit: cover;
    border: 1px #999999 solid;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}