@charset "utf-8";

html {
    /*ROOT要素に文字サイズを約10pxに設定*/
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img {
    vertical-align: middle;
}

body {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    font-style: normal;
}

main {
    background-color: #D7E4E5;
}

section {
    width: 70%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-size: 3.6rem;
}

h2 {
    width: 70%;
    min-width: 660px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 3.2rem;
}

h3 {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
    text-align: center;
    color: #0463DF;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.sp-only {
    display: none;
}

@media screen and (max-width:850px) and (min-width:441px) {
    section {
        min-width: 300px;
    }
}

@media screen and (max-width:440px) {
    section {
        width: 300px;
    }
}

@media screen and (max-width:440px) {
    .sp-only {
        display: block;
    }
}

/* menu */
.menu {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #277277;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

@media screen and (max-width:660px) {
    h2 {
        width: auto;
        margin-left: 0;
        padding-left: 5%;
    }
}


/* more-button */
.more-button {
    position: absolute;
    bottom: 0;
    right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    border: 1px #555 solid;

    font-size: 1.6rem;
    background-color: #6C98D1;
    color: #fff;

    transition: all .2s;
}

.more-button:hover {
    background-color: #fff;
    color: #474747;
    border: 1px #373737 solid;
}

@media screen and (max-width:850px) and (min-width:441px) {
    .more-button {
        right: 7.5%;
        width: 30%;
    }
}

@media screen and (max-width:440px) {
    .more-button {
        bottom: -70px;
        width: 180px;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
}


/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #3E3E3E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}

h1 {
    color: #fff;
    margin-left: 60px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav ul li {
    margin-left: 20%;
}

header nav ul li a {
    font-size: 1.4rem;
    color: #fff;
}

.switch {
    display: none;
}

@media screen and (max-width:660px) and (min-width:441px) {
    h1 {
        font-size: 2.4rem;
        margin-left: 5%;
    }

    header nav ul li {
        margin-left: 10%;
    }

    header nav ul li a {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:440px) {
    header {
        width: 100vw;
    }

    h1 {
        font-size: 2.4rem;
        margin-left: 20px;
    }

    .switch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 60px;

        position: absolute;
        right: 0;
        top: 0;
        padding-right: 30px;
        padding-left: 15px;
        z-index: 9999;
    }

    .switch span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #FFF;
        margin-top: 3.5px;
        margin-bottom: 3.5px;
        transition: all .3s;
    }

    .switch.active span:nth-of-type(1) {
        transform: translateY(9px) rotate(-45deg);
    }

    .switch.active span:nth-of-type(2) {
        opacity: 0;
    }

    .switch.active span:nth-of-type(3) {
        transform: translateY(-9px) rotate(45deg);
    }

    header nav {
        position: absolute;
        right: 0;
        top: 0;
        width: 50vw;
        height: auto;
        background-color: #3E3E3E;
        display: none;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 90px;
        padding-bottom: 30px;
    }

    header nav ul li {
        margin-left: 10%;
        padding-top: 10%;
        margin-bottom: 10%;
    }

    header nav ul li a {
        font-size: 1.6rem;
        color: #fff;
        position: relative;
    }

    header nav ul li a::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 40vw;
        height: 1px;
        background-color: #fff;
    }

}

/* mainvisual */
.mainvisual {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #222;
    padding-top: 60px;
}

.mainvisual h2 {
    position: relative;
    margin-top: 30vh;
    padding-left: 5%;
    width: auto;
    min-width: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.2rem;
}

.mainvisual h2::after {
    content: "";
    display: block;
    width: 30vw;
    height: 1px;
    background-color: #fff;
    position: absolute;
}

.mainvisual p {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 7%;
    margin-top: 20px;
}

/* main top-work */
.top-work {
    padding-bottom: 320px;
}

.top-work-outer {
    padding-top: 240px;
}

.top-work-outer:first-of-type {
    padding-top: 120px;
}

.top-work-outer img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.top-work-inner {
    position: relative;
    width: 100%;
    height: auto;
}

.top-work-inner p {
    margin-top: 20px;
    margin-left: 15%;
    font-size: 1.6rem;
    color: #373737;
}

.top-work-inner p::before {
    content: "■";
}

@media screen and (max-width:660px) {
    .top-work-inner p {
        margin-left: 7.5%;
        font-size: 1.4rem;
    }
}

@media screen and (max-width:440px) {
    .top-work-outer:first-of-type {
        padding-top: 60px;
    }
}

/* footer */
footer {
    width: 100%;
    height: 150px;
    background-color: #277277;
}

footer a {
    font-family: "Audiowide", sans-serif;
    font-size: 2.6rem;
    color: #fff;
    display: block;
    text-align: center;
    padding-top: 40px;
}

/* work1-page */
.work1-page section,
.work2-page section,
.work3-page section {
    padding-bottom: 240px;
    font-weight: 400;

    .top-work-outer {
        padding-top: 80px;
    }

    ul {
        list-style: none;
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
    }

    a {
        font-size: 1.8rem;
        color: blue;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 5px;
        text-decoration: underline;
    }

    a:hover {
        color: rebeccapurple;
    }

    li {
        font-size: 1.6rem;
        margin-right: 50px;
        margin-top: 5px;
        color: #373737;
    }

    p {
        font-size: 1.6rem;
        margin-top: 5px;
        color: #373737;
        line-height: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .top-work-inner {
        margin-top: 60px;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 1.6rem;
        color: #373737;
    }

    .top-work-inner::before {
        content: "■";
    }

    .logo-img {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .logo-img img {
        width: 40%;
        height: auto;
        margin-right: 20px;
        margin-left: 20px;
        border: 1px #999999 solid;
    }

    .work-page-design img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px #999999 solid;
    }

    .design-img {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 80px;
    }

    .design-img img {
        width: 40%;
        margin-right: 20px;
    }

    .banner-img {
        width: 50%;
        margin-left: 20px;
    }

    .banner-img img {
        width: 100%;
    }
}

.work3-page .design-img img:first-of-type {
    width: 60%;
}

.work3-page .design-img img:last-of-type {
    width: 30%;
}

.work3-page .work-page-logo img {
    width: 50%;
    object-fit: cover;
    border: 1px #999999 solid;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.other-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.other-img img {
    width: 45%;
    height: auto;
    object-fit: cover;
    border: 1px #999999 solid;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

p.sp-only {
    display: none;
}

@media screen and (max-width:440px) {

    .work1-page section,
    .work2-page section,
    .work3-page section {
        padding-bottom: 120px;

        a {
            font-size: 1.6rem;
            margin-left: 10px;
        }

        p,
        li {
            font-size: 1.4rem;
            margin-left: 10px;
        }

        .top-work-inner {
            margin-left: 10px;
            font-size: 1.6rem;
        }

        .design-img {
            align-items: center;
            flex-wrap: wrap;
        }

        .design-img img {
            width: 100%;
            margin-right: 0px;
        }

        p.sp-only {
            display: block;
        }

        .banner-img {
            width: 100%;
            margin-left: 0px;
        }

        .banner-img img {
            width: 100%;
        }

        .work-page-banner img {
            width: 90%;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 5%;
            border: 1px #999999 solid;
        }
    }

    .work3-page .design-img img:first-of-type {
        width: 100%;
    }

    .work3-page .design-img img:last-of-type {
        width: 100%;
    }

    .other-img img {
        width: 95%;
        margin-left: 0;
        margin-right: 0;
    }
}